@import './palette.scss';
@import './home.scss';
@import './view_item.scss';
@import './login.scss';
@import './menu.scss';
@import "~bootstrap/scss/bootstrap";
@import url('https://fonts.googleapis.com/css?family=Raleway:400,600|Roboto:100,300');

html, body {
  display: flex;
  flex-direction: column;

  height: 100%;
}
.reactbody {
  background-color: $color5;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Roboto', sans-serif;
}

h1 {
  font-weight: 300;
}

div, p, span {
  font-family: 'Raleway', sans-serif;
}

.header {
  display: flex;
  align-items: center;
  img {
    margin: 1em;
    width: 50px;
    height: 50px;
  }
  h1 {
    margin-right: auto;
    text-align: center;
  }
  border-bottom: 2px solid gray;
  div {
    margin: 2em;
  }
}

